*
!.gitignore
!.env
!docker-compose.yml
!install.sh
!install.gitpod.sh
!*.md
!.gitpod.yml
!etc/*
!etc
!kickstart/
!media
!media/*
!docs
!docs/*
!nginx.conf
!uci-admin.conf
!uci-web-channel.conf
!.env-uci-web-channel
!.env-uci-admin
!docker-compose-debug.yml
!vault/vault.json
!vault
!INSTALL.md
!install.py
