version: "3"

services:
# UCI API
  uci-api-service:
    build: 
      context: ./uci-apis/v2/uci
    image: federation-service
    restart: always
    env_file: .env
    ports:
      - 9999:9999
  
  uci-api-db:
    image: postgres:12
    env_file: .env
    restart: always
    environment:
      - POSTGRES_PASSWORD=${UCI_API_POSTGRES_PASSWORD}
      - POSTGRES_USER=${UCI_API_POSTGRES_USER}
      - POSTGRES_DB=${UCI_API_POSTGRES_DB}
    volumes:
      - ./data/pgdata-uci-api-db:/var/lib/postgresql/data
      # correctly seeded
      # - ./initdb_scripts/uci-db-backup.sql:/docker-entrypoint-initdb.d/uci-db-backup.sql

  uci-api-db-gql:
    image: hasura/graphql-engine:v2.7.0
    restart: always
    env_file: .env
    ports:
      - "15003:8080"
    depends_on:
      - uci-api-db
    environment:
      HASURA_GRAPHQL_ADMIN_SECRET: ${HASURA_GRAPHQL_ADMIN_SECRET}

  uci-api-scheduler-db:
    image: redis:latest
    env_file: .env
    restart: always
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    volumes:
      - ./data/uci-api-scheduler-db:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf

# UCI PWA Adapter
  uci-transport-socket:
    image: samagragovernance/uci-transport-socket:655da87
    restart: always
    environment:
      REDIS_HOST: cache
      REDIS_PORT: 6379
      SERVER_PORT: 3005
      ADAPTER_URL: "http://inbound:8085/pwa/web"
    ports:
      - 3005:3005

  # TODO: Needs to be fixed for general purpose use
  uci-web-channel:
    restart: always
    image: nginx
    volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf
    - ./uci-web-channel.conf:/etc/nginx/sites-enabled/default
    - ./uci-web-channel/build:/usr/site
    # environment:
    #   REACT_APP_TRANSPORT_SOCKET_URL: "ws://localhost:3005"
    ports:
    - "9098:80"

  uci-admin:
    restart: always
    build: 
      context: uci-admin
      args:
        NG_APP_url: ${NG_APP_url}
        NG_APP_nl_url: ${NG_APP_nl_url}
        NG_APP_nl_login_url: ${NG_APP_nl_login_url}
        NG_APP_nl_login_token: ${NG_APP_nl_login_token}
        NG_APP_nl_application_id: ${NG_APP_nl_application_id}
        NG_APP_blobUrl: ${NG_APP_blobUrl}
        NG_APP_botPhoneNumber: ${NG_APP_botPhoneNumber}
        NG_APP_adapterId: ${NG_APP_adapterId}
        NG_APP_broadcastAdapterId: ${NG_APP_broadcastAdapterId}
        NG_APP_userId: ${NG_APP_userId}
        NG_APP_orgId: ${NG_APP_orgId}
        NG_APP_token: ${NG_APP_token}
    image: uci-admin
    ports:
    - "9097:80"


  cache:
    image: redis:latest
    restart: always
    command: ['redis-server', '--appendonly', 'yes']
    hostname: redis
    volumes:
      - ./data/redis-data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf

# Kafka

  zookeeper:
    image: confluentinc/cp-zookeeper:7.3.2
    # ports:
    #   - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_SERVER_ID: 1
      ZOOKEEPER_SERVERS: zookeeper:2888:3888
    restart: always

  kafka:
    image: confluentinc/cp-kafka:7.3.2
    ports:
      - "9092:9092"
      - "29092:29092"
      - "9998:9999"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka:19092,EXTERNAL://${DOCKER_HOST_IP:-127.0.0.1}:9092,DOCKER://host.docker.internal:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT,DOCKER:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL
      KAFKA_ZOOKEEPER_CONNECT: "zookeeper:2181"
      KAFKA_LOG_DIRS: ./data00/kafka-logs
      # KAFKA_BROKER_ID: 1
      # KAFKA_OPTS: "-Djava.security.auth.login.config=/etc/kafka/kafka_server_jaas.conf"
      KAFKA_SASL_ENABLED_MECHANISMS: PLAIN
      KAFKA_SASL_MECHANISM_INTER_BROKER_PROTOCOL: PLAIN
      KAFKA_LOG4J_LOGGERS: "kafka.controller=INFO,kafka.producer.async.DefaultEventHandler=INFO,state.change.logger=INFO"
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_JMX_PORT: 9999
      KAFKA_JMX_HOSTNAME: ${DOCKER_HOST_IP:-127.0.0.1}
      KAFKA_AUTHORIZER_CLASS_NAME: kafka.security.authorizer.AclAuthorizer
      KAFKA_ALLOW_EVERYONE_IF_NO_ACL_FOUND: "true"
    depends_on:
      - zookeeper
    volumes:
      - ./data/kafka-data-1:/kafka
      - ./data/kafka-data-2:/var/lib/kafka:Z
    restart: always

  schema-registry:
    image: confluentinc/cp-schema-registry
    restart: always
    depends_on:
      - kafka
    environment:
      SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS: 'kafka:9092'
      SCHEMA_REGISTRY_HOST_NAME: 'schema-registry'
      SCHEMA_REGISTRY_LISTENERS: 'http://0.0.0.0:8085'
      SCHEMA_REGISTRY_LOG4J_ROOT_LOGLEVEL: 'INFO'

  connect:
    image: confluentinc/cp-kafka-connect
    restart: always
    depends_on:
      - kafka
      - schema-registry
    environment:
      CONNECT_BOOTSTRAP_SERVERS: 'kafka:9092'
      CONNECT_REST_PORT: '8083'
      CONNECT_REST_LISTENERS: 'http://0.0.0.0:8083'
      CONNECT_REST_ADVERTISED_HOST_NAME: 'connect'
      CONNECT_CONFIG_STORAGE_TOPIC: '__connect-config'
      CONNECT_OFFSET_STORAGE_TOPIC: '__connect-offsets'
      CONNECT_STATUS_STORAGE_TOPIC: '__connect-status'
      CONNECT_GROUP_ID: 'kafka-connect'
      CONNECT_KEY_CONVERTER_SCHEMAS_ENABLE: 'true'
      CONNECT_KEY_CONVERTER: 'io.confluent.connect.avro.AvroConverter'
      CONNECT_KEY_CONVERTER_SCHEMA_REGISTRY_URL: 'http://schema-registry:8085'
      CONNECT_VALUE_CONVERTER_SCHEMAS_ENABLE: 'true'
      CONNECT_VALUE_CONVERTER: 'io.confluent.connect.avro.AvroConverter'
      CONNECT_VALUE_CONVERTER_SCHEMA_REGISTRY_URL: 'http://schema-registry:8085'
      CONNECT_INTERNAL_KEY_CONVERTER: 'org.apache.kafka.connect.json.JsonConverter'
      CONNECT_INTERNAL_VALUE_CONVERTER: 'org.apache.kafka.connect.json.JsonConverter'
      CONNECT_OFFSET_STORAGE_REPLICATION_FACTOR: '1'
      CONNECT_CONFIG_STORAGE_REPLICATION_FACTOR: '1'
      CONNECT_STATUS_STORAGE_REPLICATION_FACTOR: '1'
      CONNECT_PLUGIN_PATH: ' /usr/share/java/'

# UCI Core
  inbound:
    image: "samagragovernance/inbound:${CURRENT_VERSION}"
    restart: always
    env_file: .env
    ports:
      - "0.0.0.0:${INBOUND_EXTERNAL_PORT}:${INBOUND_INTERNAL_PORT}"

  orchestrator:
    image: "samagragovernance/orchestrator:${CURRENT_VERSION}"
    restart: always
    env_file: .env
    ports:
      - "${ORCHESTRATOR_INTERNAL_PORT}:${ORCHESTRATOR_INTERNAL_PORT}"

  transformer:
    image: "samagragovernance/transformer:${CURRENT_VERSION}"
    restart: always
    env_file: .env
    ports:
      - "${TRANSFORMER_INTERNAL_PORT}:${TRANSFORMER_INTERNAL_PORT}"

  outbound:
    image: "samagragovernance/outbound:${CURRENT_VERSION}"
    restart: always
    env_file: .env
    ports:
      - "${OUTBOUND_INTERNAL_PORT}:${OUTBOUND_INTERNAL_PORT}"

  broadcast-transformer:
    image: "samagragovernance/broadcast-transformer:${CURRENT_VERSION}"
    restart: always
    env_file: .env
    ports:
      - "${BROADCAST_TRANSFORMER_INTERNAL_PORT}:${BROADCAST_TRANSFORMER_INTERNAL_PORT}"

  cdac:
    image: samagragovernance/cdac-service:4.10.3
    restart: always
    env_file: .env-cdac

  cass:
    image: bitnami/cassandra:latest
    restart: always
    environment:
      - MAX_HEAP_SIZE=1000M
      - HEAP_NEWSIZE=1000M
      - CASSANDRA_RPC_ADDRESS=0.0.0.0
      - CASSANDRA_SEEDS=cass
      - CASSANDRA_PASSWORD_SEEDER=yes      
      - CASSANDRA_USER=${CASSANDRA_USER}
      - CASSANDRA_PASSWORD=${CASSANDRA_PASSWORD}
      - CASSANDRA_HOST=cass
    volumes:
      - ./data/cd-data:/var/lib/cassandra
    healthcheck:
      test:
        [
          "CMD",
          "cqlsh",
          "-u cassandra",
          "-p cassandra",
          "-e describe keyspaces",
        ]
      interval: 15s
      timeout: 10s
      retries: 10
  
  formsdb:
    restart: always
    image: postgres:9.6
    environment:
      POSTGRES_PASSWORD: ${FORMS_DB_PASSWORD}
      POSTGRES_USER: ${FORMS_DB_USERNAME}
      POSTGRES_DB: ${FORMS_DB_NAME}
    volumes:
      - ./data/formsdb-data:/var/lib/postgresql/data
      # - ./init_scripts/forms-db.sql:/docker-entrypoint-initdb.d/forms-db.sql

  graphql-formsdb:
    restart: always
    image: hasura/graphql-engine:latest
    ports:
      - "15002:8080"
    depends_on:
      - formsdb
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgresql:yoursupersecret@formsdb:5432/formsdb
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_ADMIN_SECRET: ${FORMSDB_HASURA_GRAPHQL_ADMIN_SECRET}

# ODK      
  aggregate-db:
    restart: always
    image: postgres:9.6-alpine
    environment:
      - POSTGRES_PASSWORD=${ODK_POSTGRES_PASSWORD}
      - POSTGRES_USER=${ODK_POSTGRES_USER}
      - POSTGRES_DB=${ODK_POSTGRES_DB}
    volumes:
      # - ./odk-aggregate/odk/initdb:/docker-entrypoint-initdb.d
      - ./data/pgdata-odk:/var/lib/postgresql/data
      - ./initdb_scripts/aggregate-db.sql:/docker-entrypoint-initdb.d/init.sql

  wait_for_db:
    restart: always
    image: dadarek/wait-for-dependencies
    depends_on:
      - aggregate-db
    command: aggregate-db:5432

  aggregate-server:
    restart: always
    depends_on:
      - wait_for_db
    image: tomcat:alpine
    environment:
      - DB_USERNAME=${ODK_POSTGRES_USER}
      - DB_SCHEMA=public
      - DB_PASSWORD=${ODK_POSTGRES_PASSWORD}
      - DB_NAME=${ODK_POSTGRES_DB}
      - DB_PORT=5432
      - AGGREGATE_HOST=
      - DB_URL=jdbc:postgresql://aggregate-db:5432/${ODK_POSTGRES_DB}?user=${ODK_POSTGRES_USER}&password=${ODK_POSTGRES_PASSWORD}
    ports:
      - 8080:8080
    volumes:
      - ./odk-aggregate/odk/webapps:/usr/local/tomcat/webapps

# Fusion Auth

  fa-search:
    image: docker.elastic.co/elasticsearch/elasticsearch:6.3.1
    environment:
      - cluster.name=fusionauth
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=${ES_JAVA_OPTS}"
      - discovery.type=single-node
    # ulimits: # Don't work with Gitpod
    #   memlock:
    #     soft: -1
    #     hard: -1
    volumes:
      - ./data/fa-es-data:/usr/share/elasticsearch/data

  fusionauth:
    image: fusionauth/fusionauth-app:latest
    restart: always
    depends_on:
      - fa-search
      - fa-db
    environment:
      DATABASE_URL: jdbc:postgresql://fa-db:${FUSIONAUTH_POSTGRES_PORT}/fusionauth
      DATABASE_ROOT_USERNAME: ${FUSIONAUTH_POSTGRES_USER}
      DATABASE_ROOT_PASSWORD: ${FUSIONAUTH_POSTGRES_PASSWORD}
      DATABASE_USERNAME: ${FUSIONAUTH_DATABASE_USER}
      DATABASE_PASSWORD: ${FUSIONAUTH_DATABASE_USERNAME}
      FUSIONAUTH_SEARCH_ENGINE_TYPE: elasticsearch
      FUSIONAUTH_SEARCH_SERVERS: http://fa-search:9200
      FUSIONAUTH_URL: http://fusionauth:9011
      FUSIONAUTH_API_KEY: ${FUSIONAUTH_API_KEY}
      FUSIONAUTH_APP_KICKSTART_FILE: ${FUSIONAUTH_APP_KICKSTART_FILE}
      FUSIONAUTH_ADMIN_EMAIL: ${FUSIONAUTH_ADMIN_EMAIL}
      FUSIONAUTH_ADMIN_PASSWORD: ${FUSIONAUTH_ADMIN_PASSWORD}
      FUSIONAUTH_APPLICATION_ID: ${FUSIONAUTH_APPLICATION_ID}
      FUSIONAUTH_CLIENT_SECRET: ${FUSIONAUTH_CLIENT_SECRET}
    ports:
      - 9011:9011
    volumes:
      - ./fa-config:/usr/local/fusionauth/config
      - ./kickstart:/usr/local/fusionauth/kickstart

  fa-db:
    image: postgres:12
    restart: always
    environment:
      - POSTGRES_USER=${FUSIONAUTH_POSTGRES_USER}
      - POSTGRES_PASSWORD=${FUSIONAUTH_POSTGRES_PASSWORD}
    volumes:
      - ./data/pgdata-fa-db:/var/lib/postgresql/data
      # - ./initdb_scripts/fa-db.sql:/docker-entrypoint-initdb.d/fa-db.sql
  
  vault:
    image: vault:1.10.3
    restart: always
    volumes:
      - ./vault/vault.json:/vault/config/vault.json
      - ./data/vault-data:/vault/file
    environment:
      - VAULT_ADDR=http://0.0.0.0:8200
      - VAULT_API_ADDR=http://0.0.0.0:8200
      - VAULT_ADDRESS=http://0.0.0.0:8200
    cap_add:
      - IPC_LOCK
    command: vault server -config=/vault/config/vault.json
    ports:
      - 8200:8200

  uci-minio:
    image: quay.io/minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    env_file: env.dev/minio.env
    command: server /data --console-address ":9001"
    environment:
      MINIO_IDENTITY_OPENID_CLIENT_ID: ${FUSIONAUTH_APPLICATION_ID}
      MINIO_IDENTITY_OPENID_CLIENT_SECRET: ${FUSIONAUTH_CLIENT_SECRET}
    depends_on:
      - fusionauth